<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwjy.bs.orm.mapper.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.cwjy.bs.orm.entity.OrderItemEntity">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="item_id" jdbcType="CHAR" property="item_id" />
    <result column="order_id" jdbcType="CHAR" property="order_id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="totle_fee" jdbcType="DECIMAL" property="totle_fee" />
    <result column="pic_path" jdbcType="VARCHAR" property="pic_path" />
    <result column="pic_type" jdbcType="VARCHAR" property="pic_type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, item_id, order_id, num, price, totle_fee, pic_path, pic_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_item
    where id = #{id,jdbcType=CHAR}
  </select>
    <select id="getByOrderId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from order_item
      where order_id = #{order_id,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_item
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cwjy.bs.orm.dto.OrderItem">
    insert into order_item (id, item_id, order_id, 
      num, price, totle_fee, 
      pic_path, pic_type)
    values (#{id,jdbcType=CHAR}, #{item_id,jdbcType=CHAR}, #{order_id,jdbcType=CHAR}, 
      #{num,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{totle_fee,jdbcType=DECIMAL}, 
      #{pic_path,jdbcType=VARCHAR}, #{pic_type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cwjy.bs.orm.dto.OrderItem">
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="item_id != null">
        item_id,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="totle_fee != null">
        totle_fee,
      </if>
      <if test="pic_path != null">
        pic_path,
      </if>
      <if test="pic_type != null">
        pic_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="item_id != null">
        #{item_id,jdbcType=CHAR},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=CHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totle_fee != null">
        #{totle_fee,jdbcType=DECIMAL},
      </if>
      <if test="pic_path != null">
        #{pic_path,jdbcType=VARCHAR},
      </if>
      <if test="pic_type != null">
        #{pic_type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cwjy.bs.orm.dto.OrderItem">
    update order_item
    <set>
      <if test="item_id != null">
        item_id = #{item_id,jdbcType=CHAR},
      </if>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=CHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totle_fee != null">
        totle_fee = #{totle_fee,jdbcType=DECIMAL},
      </if>
      <if test="pic_path != null">
        pic_path = #{pic_path,jdbcType=VARCHAR},
      </if>
      <if test="pic_type != null">
        pic_type = #{pic_type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cwjy.bs.orm.dto.OrderItem">
    update order_item
    set item_id = #{item_id,jdbcType=CHAR},
      order_id = #{order_id,jdbcType=CHAR},
      num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      totle_fee = #{totle_fee,jdbcType=DECIMAL},
      pic_path = #{pic_path,jdbcType=VARCHAR},
      pic_type = #{pic_type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>