<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwjy.bs.orm.mapper.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.cwjy.bs.orm.entity.ShoppingCartEntity">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
    <result column="create_user" jdbcType="VARCHAR" property="create_user" />
    <result column="update_user" jdbcType="VARCHAR" property="update_user" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
    <result column="post_fee" jdbcType="VARCHAR" property="post_fee" />
    <result column="commodity_id" jdbcType="CHAR" property="commodity_id" />
    <result column="buyer_message" jdbcType="VARCHAR" property="buyer_message" />
    <result column="commodity_type" jdbcType="VARCHAR" property="commodity_type" />
    <result column="order_shipping_id" jdbcType="CHAR" property="order_shipping_id" />
    <result column="commodity_num" jdbcType="INTEGER" property="commodity_num" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, update_date, create_user, update_user, `status`, payment, post_fee, 
    commodity_id, buyer_message, commodity_type, order_shipping_id, commodity_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where id = #{id,jdbcType=CHAR}
  </select>
    <select id="getPage" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from shopping_cart where create_user = #{create_user}
      order by create_date desc
    </select>
  <select id="getCount" resultType="java.lang.Integer">
    select
   count(*)
    from shopping_cart where create_user = #{create_user}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shopping_cart
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.cwjy.bs.orm.dto.ShoppingCart">
    insert into shopping_cart (id, create_date, update_date, 
      create_user, update_user, `status`, 
      payment, post_fee, commodity_id, 
      buyer_message, commodity_type, order_shipping_id, 
      commodity_num)
    values (#{id,jdbcType=CHAR}, #{create_date,jdbcType=TIMESTAMP}, #{update_date,jdbcType=TIMESTAMP}, 
      #{create_user,jdbcType=VARCHAR}, #{update_user,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{payment,jdbcType=VARCHAR}, #{post_fee,jdbcType=VARCHAR}, #{commodity_id,jdbcType=CHAR}, 
      #{buyer_message,jdbcType=VARCHAR}, #{commodity_type,jdbcType=VARCHAR}, #{order_shipping_id,jdbcType=CHAR}, 
      #{commodity_num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cwjy.bs.orm.dto.ShoppingCart">
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="update_date != null">
        update_date,
      </if>
      <if test="create_user != null">
        create_user,
      </if>
      <if test="update_user != null">
        update_user,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="post_fee != null">
        post_fee,
      </if>
      <if test="commodity_id != null">
        commodity_id,
      </if>
      <if test="buyer_message != null">
        buyer_message,
      </if>
      <if test="commodity_type != null">
        commodity_type,
      </if>
      <if test="order_shipping_id != null">
        order_shipping_id,
      </if>
      <if test="commodity_num != null">
        commodity_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_date != null">
        #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="create_user != null">
        #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="update_user != null">
        #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="post_fee != null">
        #{post_fee,jdbcType=VARCHAR},
      </if>
      <if test="commodity_id != null">
        #{commodity_id,jdbcType=CHAR},
      </if>
      <if test="buyer_message != null">
        #{buyer_message,jdbcType=VARCHAR},
      </if>
      <if test="commodity_type != null">
        #{commodity_type,jdbcType=VARCHAR},
      </if>
      <if test="order_shipping_id != null">
        #{order_shipping_id,jdbcType=CHAR},
      </if>
      <if test="commodity_num != null">
        #{commodity_num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cwjy.bs.orm.dto.ShoppingCart">
    update shopping_cart
    <set>
      <if test="create_date != null">
        create_date = #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_date != null">
        update_date = #{update_date,jdbcType=TIMESTAMP},
      </if>
      <if test="create_user != null">
        create_user = #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="update_user != null">
        update_user = #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="post_fee != null">
        post_fee = #{post_fee,jdbcType=VARCHAR},
      </if>
      <if test="commodity_id != null">
        commodity_id = #{commodity_id,jdbcType=CHAR},
      </if>
      <if test="buyer_message != null">
        buyer_message = #{buyer_message,jdbcType=VARCHAR},
      </if>
      <if test="commodity_type != null">
        commodity_type = #{commodity_type,jdbcType=VARCHAR},
      </if>
      <if test="order_shipping_id != null">
        order_shipping_id = #{order_shipping_id,jdbcType=CHAR},
      </if>
      <if test="commodity_num != null">
        commodity_num = #{commodity_num,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cwjy.bs.orm.dto.ShoppingCart">
    update shopping_cart
    set create_date = #{create_date,jdbcType=TIMESTAMP},
      update_date = #{update_date,jdbcType=TIMESTAMP},
      create_user = #{create_user,jdbcType=VARCHAR},
      update_user = #{update_user,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      payment = #{payment,jdbcType=VARCHAR},
      post_fee = #{post_fee,jdbcType=VARCHAR},
      commodity_id = #{commodity_id,jdbcType=CHAR},
      buyer_message = #{buyer_message,jdbcType=VARCHAR},
      commodity_type = #{commodity_type,jdbcType=VARCHAR},
      order_shipping_id = #{order_shipping_id,jdbcType=CHAR},
      commodity_num = #{commodity_num,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>